// Define variable defaults
$primary: #ff9100;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1080px,
        xxl: 1240px
);


// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'bootstrap/scss/bootstrap.scss';

@import './assets/scss/global.scss'
